[submodule "easy-ai-examples-fixed"]
	path = easy-ai-examples-fixed
	url = https://github.com/Awannaphasch2016/easy-ai-examples-fixed.git
[submodule "checker_easyAI"]
	path = checker_easyAI
	url = https://github.com/Awannaphasch2016/checker_easyAI.git
